@using Chirp.Core
@model Chirp.Web.Pages.Partials.SubmitMessageModel

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="cheepbox">
        <h3>What's on your mind @(User.Identity.Name)?</h3>
        <form method="post" action="@Url.Page("", new { handler = "Message" })">
            @if (Model != null)
            {
                <input style="float: left" type="text" asp-for="Message" name="Message" value="@Model.Message" class="form-control" maxlength="160" id="MessageInput">
            }
            else 
            {
                <input style="float: left" type="text" asp-for="Message" name="Message" value="" class="form-control" maxlength="160" id="MessageInput">
            }

            <div class="char-count">
                <span id="charCount">0</span> / 160 characters
            </div>
            <span asp-validation-for="Message"></span>
            <input type="submit" value="Share">
            @Html.AntiForgeryToken()
        </form>
    </div>
    <script>document.getElementById('MessageInput').addEventListener('input', function() {const messageLength = this.value.length;document.getElementById('charCount').textContent = messageLength;});</script>
}