@page "/{author}/aboutme"
@model Chirp.Web.Pages.AboutModel
@{
    var routeName = HttpContext.GetRouteValue("author");
}
@if (Model.UserIsAuthor) 
{
<div>
    <h3>Your information</h3>
    <h4>your email:</h4>
    <h4>@Model.GetEmail()</h4>
    <h4>your name:</h4>
    <h4>@Model.GetName()</h4>
    <h4>people your follow:</h4>
    @if (Model.Following.Any())
    {
        @foreach (var author in Model.Following)
        {
            <a href="/@(author.Name)">@author.Name</a>
        }
    }
    else
    {
        <h4>You dont follow anyone</h4>
    }
    <h4>Cheeps that your have chirped:</h4>
    @if (Model.Cheeps.Any())
    {
        @foreach (var cheep in Model.Cheeps)
        {
            <a>@cheep.Message</a>
        }
    }
    else
    {
        <h4>You dont have chirped any cheeps</h4>
    }
</div>
}
else 
{
<div>
    <h3>Not your information >:( </h3>
</div>
}

