@page "/{author}/aboutme"
@model Chirp.Web.Pages.AboutModel
@{
    var routeName = HttpContext.GetRouteValue("author");
}
@if (Model.UserIsAuthor) 
{
<div>
    <h3>Your information :) </h3>
</div>
}
else 
{
<div>
    <h3>Not your information >:( </h3>
</div>
}

