@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    @{ await Html.RenderPartialAsync("_CheepCreationPartial", Model.SubmitMessage); }
    @if (Model.InvalidCheep)
    {
        <div>
            <h3>Invalid Cheep. Must be shorter than 160 characters!</h3>
        </div>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @{ await Html.RenderPartialAsync("_FollowButtonPartial", Model.FollowButton); }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    <div class="pagination">
            @if (Model.CurrentPage > 0)
            {
                <a href="@Url.Page("Public")?page=@(Model.CurrentPage - 1)" class="button">Previous Page</a>
            }
            @if(Model.GetMaxPage())
            {
                <a href="@Url.Page("UserTimeline", new { author = Model.Author} )?page=@(Model.CurrentPage + 1)" class="button">Next Page</a>
            }
    </div>
    
</div>
