@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    @{ await Html.RenderPartialAsync("_CheepCreationPartial", Model.SubmitMessage); }
    @if (Model.InvalidCheep)
    {
        <div>
            <h3>Invalid Cheep. Must be shorter than 160 characters!</h3>
        </div>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @{ await Html.RenderPartialAsync("_FollowButtonPartial", Model.FollowButton); }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
</div>
