<!DOCTYPE html>
<html lang="en">
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ChirpUser> SignInManager
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/blue.ico">
</head>
<body>
<div class=page>
    <h1><img src="/images/blue.png" alt="Icon1"/>Chirp!</h1>
    
    <div class=navigation>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class=navigation>
                <a href="/@(User.Identity?.Name)">my timeline</a> |
                <a href="/@(User.Identity?.Name)/aboutme">about me</a> |
                <a href="/">public timeline</a> |
                <a asp-page-handler="Logout" >logout [@(User.Identity?.Name)]</a>
            </div>
        }
        else
        {
            <div class=navigation>
                <a href="/">public timeline</a> |
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">register</a> |
                <a asp-area="Identity" asp-page="/Account/Login">login</a>
            </div>
        }
    </div>
    
    <div class=body>
            
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>


</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
